@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');


body{

	font-family: 'Raleway', sans-serif;
	font-size: 16px;

}


/********Estilo modales**********/


.modal-content{
   
   background-color: #333;
   text-align: center;

}

.modal-body button{
   
   background-color: #f7b617;
   text-align: center;
   color: black;
   font-weight: 700;
   font-size: 16px;


}

.modal-content h2{
   
   color: white;
   text-align: center;

}

.modal-content p{
   
   color: white;
   text-align: center;
   margin-bottom: 0;

}

.modal-content a{
   
   color: #f7b617;
   text-decoration: none;

}

.modal-content a:hover{
   
   color: white;

}

.modal-content img{
   
   width: 30%;
   height: auto;
   margin: 0 35%;

}

.form{
  
  width: 50%;
  height: auto;
  margin: 4% 0 4% 25%;
  

 } 

.form .form-control {
   
   margin-top:20px;
   background-color: #333;
   width: 100%;

}

.form .input-group {
   
   width: 100%;

}

.form .dropdown-toggle{

	margin-top:20px;
  background-color: #ccc;
  border: none;
   
}


.modal-header, .modal-footer{
    
    border:none;
}

.azul{

  background-color: #26dfba;
  margin-top: 20px;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.dos{
	margin-top: 0;

}

.p {

	margin-top: 20px;

}



/********Estilo navegador**********/


.navbar-default{

	background-color: white;
	border: none;
	padding: 2% 5%;
	margin: 0;
}


.navbar-brand{

	height: auto;

	/*
	float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;

	*/
}

.navbar-nav {
    float: right;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.navbar-nav>li {
    margin-left: 20px;
}


/*******seccion formulario amarillo*********/

.banner{
  
  width: 100%;
  height: auto;
	background-image: url("../assets/images/taxi.jpg");
	background-size: 100% auto;
	background-repeat: none;
	padding: 11% 0;
}



.registro{
	color: white;
	display: inline-block;
	float: right;
	padding: 3%;
}

.registro h1{

	font-size:32px;
	margin-top: 0;
}

.registro h2{

	display: inline-block;
}

.registro p{

	text-align: center;
	font-size: 14px;
	margin-top: -10px;
}

.registro button{

	border:none;
	font-size: 17px;
	font-weight: 500;
	color: black;
}

.logo-text {

	margin-bottom: 2%;
}

.logo-text h3, .logo-text img{

	display: inline-block;
}


.logo-text img{

	width: 100px;
	height: auto;
	margin-top: -10px;
	margin-left: 12px;
}



/******* seccion celular*********/

.celu{
	color: white;
	padding: 3% 0;
}

.celu .container{
	color: white;
	margin-left: 0;
}

.celu h2{
	font-size: 28px;
	letter-spacing: 0.02em;
}

.celu p{

	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.02em;
}

.col-borde{
	padding: 3% 1% 3% 7%;
	border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
	margin-left: 0;
}


/******* seccion conductor*********/

.driver{
  
  width: 100%;
  height: auto;
	background-image: url("../assets/images/conduce.jpg");
	background-size: 100% auto;
	background-repeat: none;
}

.driver .row{
  
  margin-right: 0;
}

.textdriver{
  color: white;
	padding: 6% 3% 15% 3%;
	background-color: rgba(0,0,0,0.5);
	float: right;
}

.textdriver h2{

	font-size: 26px;
	letter-spacing: 0.02em;
}

.textdriver p{

	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.02em;
}

.textdriver button{

	border:none;
	font-size: 17px;
	font-weight: 500;
	color: white;
	background-color: #f7b617;

}



/******** seccion mapa ********/

.mapa{
  
  width: 100%;
  height: auto;
  color: white;
  letter-spacing: 0.03em;
	
}

.mapa .container{
  
  padding:4% 5%;
	
}

.square{

  width: 450px;
  height: 450px;
  border: 1px solid white;
  padding: 10px;
  float: right;

}


.input-group-addon {
    padding: 6px 12px;
    line-height: 1;
    text-align: center;
    background-color: #f7b617;
    border: none;
}

.form-control {

    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #f7b617;
    background-image: none;
    border: 1px solid white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;

}


.mapa button{

	border:none;
	margin-top: 10px;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	color: black;
	padding: 10px 30px;
}


.mapa .col-lg-12{

  margin-top: 20px;
  padding-left: 0px;

}

.form-control:focus {
    border-color: white;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0), 0 0 8px rgba(102,175,233,.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0), 0 0 8px rgba(102,175,233,.0);
}

.form-control::-webkit-input-placeholder { 
  color: white;

}
.form-control::-moz-placeholder { 
  color: white;
}
.form-control:-ms-input-placeholder { 
  color: white;
}
.form-control:-moz-placeholder { 
  color: white;
}



/********footer ********/


footer{
  
  width: 100%;
  height: auto;
	background-color: #2b2b2b;
	color: white;
	
}

.iconos{

	margin-top: 0;
	margin-bottom: 20px;
}

footer img{
  
  margin-bottom: 20px;
}

footer .container{

	padding: 6%;

}

footer .col-lg-12{

 padding: 0;

}

footer p{

 font-weight: 300;
 font-size: 14px;
 letter-spacing: 0.03em;

}


/******** estilos de listas ********/


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #2b2b2b;
    border-color:#2b2b2b;
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

a.list-group-item, button.list-group-item {
    color: white;

}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #2b2b2b;
    border: 1px solid #2b2b2b;
}
bootstrap.css:1100
a {
    color: #337ab7;
    text-decoration: none;

}

a.list-group-item, button.list-group-item {
    color: white;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #2b2b2b;
    border: 1px solid #2b2b2b;
}


a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #f7b617;
    text-decoration: none;
    background-color: #2b2b2b;
}





/******** estilos genéricos ********/

.padding{

	padding: 20px;
}


.margin-right{

	margin-right: 0;
}

.right {
	float: right;
}

.left {
	margin-left: 30px;
}

.top{

	margin-top: 20px;
}

.borde{
	
	border-bottom: 1px solid white;
}

.block{
   
   display: block;
}

.inline{

	display:  inline-block;
}

.yellow{

	background-color: #f7b617;
}




/******** MEDIA QUERY ********/




@media (min-width: 1300px) {

	.banner{
  background-position: center;
  }
	
}


.driver{
  
  width: 100%;
  height: auto;
	background-image: url("../assets/images/conduce.jpg");
	background-size: 100% auto;
	background-repeat: none;
}

@media (max-width: 1199px) and (min-width: 992px) {

	.driver{
	background-size: 110% auto;
	background-repeat: none;
  }
	
}


@media (max-width: 991px) and (min-width: 768px) {

	.banner{
	background-size: 110% auto;
	background-repeat: none;
	background-position: center;
  }

  .col-borde{
	padding: 3%;
	border: 1px solid white;
	margin: 3% 0;
	text-align: center;
  }

  
  .celu-img{
  	display: inline-block;
  }

  .celu .container{
	color: white;
	margin-left: auto;
  }

  .celu .row {
    margin-right: 0px; 
    margin-left: 0px;
}
  
  .driver{

	background-size: 120% auto;
	background-repeat: none;
  }


  .textdriver{
  
	padding: 6% 3% 15% 7%;
	
 }

 .square{

  width: 100%;
  height: 400px;
  margin-top: 50px;
}
	
}

@media (max-width: 767px) {

	.banner{

	background-image: url("../assets/images/taxi-movil.jpg");	
	background-size: 120% auto;
	background-repeat: none;
	background-position: center -300px;
	padding: 25% 0;

  }

  .banner .container{
  	padding: 0;

  }

  .registro{
	color: white;
	display: inline-block;
	float: right;
	padding: 3% 0 0 7%;
}


  .col-borde{
	
	border: 1px solid white;
	margin: 3% 0;
	text-align: center;
  }

  
  .celu-img{
  	display: inline-block;
  }

  .celu .container{
	color: white;
	margin-left: 0;
  }

  
   .celu h2{
	   font-size: 24px;
	   display: block;
  }
  

  .celu h3{
	   font-size: 18px;
  }
  
  .driver{
	  background-image: url("../assets/images/conduce-movil.jpg");
		background-size: 120% auto;
		background-position: center center;
		background-repeat: none;
		padding: 0;
  }


  .textdriver{
  
	padding: 18% 3% 25% 7%;
	
 }

 .square{

  width: 100%;
  height: 350px;
  margin-top: 50px;
}

.row {
    margin-right: 0px; 
    margin-left: 0px;
}
	
}


@media (max-width: 400px) {
  
  .banner{

	
	background-size: 130% auto;
	background-repeat: none;
	background-position: center -220px;
	

  }

  .driver{
	
		background-size: 150% auto;
		background-position: center center;
	
		

}


